body {
  margin: 0;
}

div {
  margin: 0px 15px;
}

.menu {
  background-color: #95c7ff;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.user {
  display: flex;
  justify-content:space-between ;
}