#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  min-height: 100%;
  position: relative;
}

.header {
  background-color: rgb(2, 5, 39);
  color: rgb(210, 210, 210);
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin: 5vh auto;
  padding: 4vh;
  border-radius: 10vh;
  justify-content: center;
  background-color: rgb(100, 209, 201);
  align-items: center;
  font-size: 2vh;
}

.footer {
  text-align: center;
  bottom: 0;
  height: 7vh;
  background-color: rgb(255, 255, 100);
  color: rgb(25, 25, 25);
  line-height: 7vh;
  position: static;
  font-weight: 500;
}